<h4 class="card-title">{{title}}</h4>
  <hr class="my-3">
  <p class="card-text">
  {{post_text}}</p>
  <p class="card-text"><small class="text-muted">by 
  {{user.username}}
  on
  {{format_date created_at}}
  |
  {{comments.length}}
  {{format_plural "comment" comments.length}}</small></p>
  <p><a href="/post/{{id}}">View Post »</a></p>