<ol class="post-list">
    {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        
        <span>({{post.title}})</span>
      </div>
      <div class="meta">
        {{post.post_text}} point(s) by {{post.user.username}} on
        {{post.created_at}}
        |
        <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>