<ol class="post-list">
    {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        
        <h1><a href="/post/{{post.id}}">{{post.title}}</a></h1>
      </div>
      <div class="meta">
        {{post.post_text}} point(s) by {{post.user.username}} on
        {{post.created_at}}
        |
        {{post.comments.length}} comment(s)
      </div>
    </article>
  </li>
  {{/each}}
</ol>